<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration> 
    <!-- 全局参数 --> 
	<settings>
		<!-- 设置但JDBC类型为空时,某些驱动程序要指定值,default:OTHER -->
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="cacheEnabled" value="true"/>
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>


	<plugins>
		<plugin interceptor="com.zchuber.mybatissourcedeepdiving.ExamplePlugin">
			<property name="someProperty" value="100"/>
		</plugin>
		<plugin interceptor="com.zchuber.mybatissourcedeepdiving.SlowSqlInteceptor">
			<property name="limitSeconds" value="0"/>
		</plugin>
	</plugins>
	
	<environments default="development">
		<environment id="development">
			<transactionManager  type="jdbc" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://192.168.152.5:3306/biyi_test?allowPublicKeyRetrieval=true"/>
				<property name="username" value="root"/>
				<property name="password" value="v3imYJ2@yL6Aq6Tu"/>
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="mappers/userMapper.xml"/>
<!--		<mapper url="file:///D:\code\mybatis-source-deep-diving\src\main\resources"/>-->
<!--		<mapper class="com.zchuber.mybatissourcedeepdiving.UserMapper"/>-->
<!--		<package name="com.zchuber.mybatissourcedeepdiving" />-->
	</mappers>
	


</configuration>